:root{
    font-size: 10px;
}
ul{

    padding: 0; 
}
body{
    font-size: 1.6em;
    line-height: 1.6;
    font-family: "Josefin Sans", "Roboto", sans-serif;

    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    position: relative;
    overflow-x: hidden;
}

.wrapper{
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    
}
#logo{
    font-size: 14px;
    color: #fff;
}
svg.svg-inline--fa.fa-ambulance.fa-w-20{
    font-size: 25px;
    margin-right: 5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#navbar li{
    display: inline;
    padding-right: 20px;
    list-style-type: none;
    z-index: 100;
}
#navbar a{
    text-decoration: none;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#navbar a li.current, #navbar a:hover{
    color: salmon;
    border-bottom: 1px solid salmon;
}
#main-header{
    text-decoration: none;
    position: absolute;
    width: 100%;
    z-index: 100;
    padding-top: 15px;
}

   
/* SHOWCASE*/
#showcase{
    background: url('../img/hero.jpeg') no-repeat center center;
    background-size: cover;
    color: #fff;
    background-color: #1E0D7A; 
    background-blend-mode: hard-light;
    height: 100vh;
    position: relative;
}

#showcase .row{
   margin-top: 200px;
   
}
#showcase h1{
    font-size: 12rem;
    margin: 0;
    margin-left: -10px;
    padding: 0;
 }
 #showcase #showcase-tag p{ 
    margin-top: -60px;
    padding: 0;
    font-size: 20px;
 }
 #showcase .fa-angle-down{ 
    margin-top: 60px;
    padding: 0;
    font-size: 2em;
    color: #fff;
 }

#showcase #info-text{
    position: absolute;
    right: 4rem;
    bottom: 100px;
    
    width: 200px;
    line-height: 22px;
    overflow: visible;
    z-index: 100;
}

/*SELLING TEXT*/
#selling-text blockquote{
    margin-top: 200px;
    margin-bottom: 200px;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.2;
}
#selling-text #redText{
    color: #1E0D7A;
}
blockquote #text2{
    color:#C0C1CF;
}

/*FEATURES*/
#features{
    margin-bottom: 200px;
}
#features p{
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    margin-top: -20px;
}

.eq{
    display: flex;
    color:#fff;
}
#features ul{
    list-style-type: none;
    display: flex;
    flex: 1;
}

#features li{
    padding: 50px 50px;
    background-color: #1E0D7A; 
    border-right: 5px solid #fff;
    
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#features li > *{
    flex: 1;
    flex-basis: 100%;
}

#features .fa-arrow-right{
    align-self: flex-end;
    font-size: 26px;
}

#features svg{
    margin-bottom: 5px;

    font-size: 40px;
}

/*
#section-c p{
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}
#section-c h2{
    margin: 0;
    padding: 0;

}
#section-c ul{
    list-style-type: none;
    color: #1E0D7A;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
#section-c li{
  text-align: center;
  padding: 50px 50px 20px;
  background-color: #E8E9ED;
  border-right: 5px solid #fff;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
}
#section > *{
    flex: 1;
    flex-basis: 100%;
}
#section-c li:last-child{
    border-right: none;
}
#section-c li svg{
    margin-bottom: 5px;
    width: 100%;
    font-size: 40px;
}
#section-c .fa-arrow-right{
    font-size: 16px;
}
*/

footer{
    color: rgb(124, 128, 129);
    margin-top: 75px;
    background-color: #E6ECF2;
    padding: 50px 50px 0px;
    margin-left: -7px;
    margin-top: 100px;
} 

footer ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

footer li{
    list-style: none;
    padding: 50px 0;
    margin-right: 20px;

}

footer li p{
    margin: 0;
    line-height: 2;
    font-weight: 300;
}

footer #copyright{
    margin-top: 150px;
    padding-bottom: 20px;
    font-size: 12px;
    text-align: center;
    opacity: 0.7;
}




/*INVÄNDIGTVÄTT*/
#tag{
    padding-top: 200px;
    background-color: plum;
}


/*

@media only screen and (min-width: 400px) {
    body{
        background-color: #F2F5F9; /*#E6ECF2;
    }
    header{
        background-color: #E6ECF2;
    }
}
*/