:root{
    font-size: 10px;
}
ul{

    padding: 0; 
}
p{
    color: #3b4348;
}
a{
    color: #3b4348;
}
body{
    font-size: 1.6em;
    line-height: 1.6;
    font-family: "Josefin Sans", "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    position: relative;
    overflow-x: hidden;
}

.wrapper{
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
   /* overflow: hidden; */
    
}
#logo{
    font-size: 14px;
    color: #3b4348;
}
svg.svg-inline--fa.fa-ambulance.fa-w-20{
    font-size: 25px;
    margin-right: 5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#navbar li{
    display: inline;
    padding-right: 20px;
    list-style-type: none;
    z-index: 100;
    font-weight: 700;
}
#navbar li:last-child{
    padding-right: 0px;
}
#navbar a{
    text-decoration: none;
    color: #3b4348;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

#navbar a:hover{
    color: #999;
    

}
#main-header{
    text-decoration: none;
    /*position: absolute;*/
    width: 100%;
    z-index: 100;
    padding-top: 15px;
   /* box-shadow: 0 0.125rem 0.3125rem rgba(253, 218, 20, 0.26); */
    background-color: #fff;
  /*  box-shadow: 0 0 8px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.24); */
}

   
/* SHOWCASE*/
#showcase{
    background: url('../img/hero.jpeg') no-repeat center center;
    background-size: cover;
    color: #fff;
    background-color: #1E0D7A;  /* #878D93 Grå */
    background-blend-mode: hard-light;
    height: 100vh;
    position: relative;
}


#showcase p{
    color: #fff;
}
#showcase h1{
    font-size: 12rem;
    margin: 0;
    margin-left: -10px;
    padding: 150px 0 0 0;
 }
 #showcase #showcase-tag p{ 
    margin-top: -60px;
    padding: 0;
    font-size: 20px;
 }
 #showcase .fa-angle-down{ 
    margin-top: 60px;
    padding: 0;
    font-size: 2em;
    color: #fff;
 }

#showcase #info-text p{
    position: absolute;
    right: 4rem;
    bottom: 100px;
    
    width: 200px;
    line-height: 22px;
    overflow: visible;
    z-index: 100;
}

/*SELLING TEXT*/
#selling-text blockquote{
    margin-top: 100px;
    margin-bottom: 200px;
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
}
#selling-text #redText{
    color: #1E0D7A;
   
}
blockquote #text2{
    color:#C0C1CF;
}

/*FEATURES*/
#features{
    margin-bottom: 200px;
}
.utv ul{
    background: url('../img/polering.jpg') no-repeat center center;
    background-size: cover;
}
.pol ul{
    background: url('../img/carheaven.jpg') no-repeat center center;
    background-size: cover;
}
.inv ul{
    background: url('../img/interior.jpg') no-repeat center center;
    background-size: cover;
}
#features ul{
    display: flex;
    position: relative;
}
in.utv.pol{
    flex-direction: center;
}
#features h1{
    color: #3b4348;
    margin: 0;
}

#features li{   
    flex: 1; 
    height: 400px;
   /* flex-basis: 100%; */
    font-size: 20px;
    display: flex;
    overflow: hidden;
    position: relative;
}
#features li a{   
    text-decoration: none;
}
.text-to-bottom{
    align-self: flex-end;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 0px;
    box-shadow: 0px -10px 10px 10px rgba(0,0,0,0.3);
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5));
    width: 100%;
    flex: 1;
}
.text-to-bottom span {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    color: #fff;
    z-index: 1;
}

#features li:hover {
    z-index: 2;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);
}
#features li > *{
    color: #fff;
}
#features li p{
    position: relative;
    margin: 0;
    padding: 0;
    color: #fff;
    line-height: 1.4;
    font-size: 16px; 
}
#features .tag{
    margin-bottom: -10px;    
    padding: 0;
}
.text-to-bottom p{
    position: relative;
}
#features .fa-arrow-right{
    position: absolute;
    left: 10px;
    bottom: opx;
    align-self: flex-end;
    font-size: 20px; 
}

#features svg{

    margin-bottom: 5px;
    font-size: 40px;

}


footer{
    background-color: #E5E6EA; /*#000042;*/ /*#FBEEAA; #E6ECF2;*/
 /*   background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
    padding: 50px 50px 0px;
    margin-left: -7px;

} 

footer ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

footer li{
    list-style: none;
    padding: 50px 0;
    margin-right: 20px;
}
footer li > *{
    color: #3b4348;
}
footer li p{
    margin: 0;
    line-height: 2;
    font-weight: 300;
}

footer #copyright{
    margin-top: 150px;
    padding-bottom: 20px;
    font-size: 12px;
    text-align: center;
    opacity: 0.7;
    color: #3b4348;
}

/*INVÄNDIGTVÄT*/
#tag{
    padding: 20px;
}
.polering-icon{
    height: 70px;
    width: 70px;
    margin-bottom: 70px;
}
#tag h1{
    color: #1E0D7A;
}
#tag p{
    font-weight: 700;
    margin: 0;
    font-size: .9em;
}
.info-section{
    background-color: #fff;
    border-bottom: 2px solid #eee; 
    margin-bottom: 20px;
    padding: 20px;
}
#info-section ul{
    list-style-type: none;
}
#info-section p{
    max-width: 600px;
}

#guide-block h1{
    text-align: left;
    padding: 40px 0px 40px 0;
}
.card{
    background-color: #fff;
    border-left: 4px solid #1E0D7A;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
   /* box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);*/
    border-radius: 4px;
    max-width: 700px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    text-align: left;
    margin-bottom: 20px;
    position: relative;
}

/*Hack som får en hel div att bli en länk*/
.card span{
        position:absolute; 
        width:100%;
        height:100%;
        top:0;
        left: 0;
        
        z-index: 1;
      
}
.card .fa-arrow-right{
    font-size: 12px;
    padding-left: 10px;
}
.card:hover {
    z-index: 2;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);
}
.card-integer{
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    background: #3B37BB;
    color: #ffffff;
    font-weight: 600;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    text-align: center;
}
.card p{
    font-size: 16px;
    max-width: 650px;
    padding: 0;
    margin: 0;
}
.card h2{
    padding-bottom: 10px;
    padding: 0;
    margin: 0;
    max-width: 90%;
    padding-top: 40px;


}
.card a{
    text-decoration: none;
   /* border-bottom: 3px solid #FDF0AF;*/
}

.card2{
    position: relative;
    padding: 20px;
}
.border{
    border-top: 5px solid #F6F7F8;
    border-left: 5px solid #F6F7F8;
    border-right: 5px solid #F6F7F8;
    border-bottom: 5px solid #F6F7F8;
}
.border:first{
    border-bottom: none;
}
.border:last-child{
    border-bottom: 5px solid #F6F7F8;
}
.tips-card-open{
    max-height: 500px;
    transition: all ease 0.3s;
}
.tips-card{
    background-color: #c3cfe2;
    
    border-radius: 6px;
    max-width: 730px;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    display: none;
}
.tips-card p{
    margin: 0 auto;
    max-width: 90%;
}
.varning-card{
    background-color: #ff9a9e;
    max-width: 730px;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    border-radius: 6px;
}
.varning-card p{
    margin: 0 auto;
    max-width: 90%;
}

.bakgrundstext ul{
    list-style-type: none;
}
.bakgrundstext{
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.7s;
    
}
.open{
    max-height: 500px;
    transition: max-height 0.7s;
}
.burger-nav{
    display: none ;
}
.show-more{
   /* background-color: #1E0D7A;*/
    font-size: 14px;
    cursor: pointer;
    padding: 20px 20px 20px 0px;
    border-radius: 4px;
    display: block;
    /*box-shadow: 0px 14px 159px 13px #fff; */
    font-weight: 400;
    margin-top: 20px;
    overflow-y: hidden;
}
/* LOGIN.html */
.steps{
    display: flex;
    justify-content: space-around;
}
.steps li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    flex-direction: column; 
  }
  .steps li.is-active{
    border-bottom: 1px solid #3498db;
    color: #3498db;
    display: block;
  }
.section{
    display: flex;
    background-color: rgb(0, 102, 255);
    margin-bottom: 5px;
    position: relative;
}
fieldset.section.is-active {
    display: block;
}
  input[type="text"],
  input[type="email"]{
    display: block;
    width: 50%;
    margin: auto;
    padding: 10px 20px;
    margin-bottom: 20px;
    outline: none;
  }
  input[type="text"]:focus,
  input[type="email"]:focus {
    border-color: #FF6F00;
  }

.radio-btn-container{
    display: flex;
    
}
/* FORM */
#password, #password2{
    display: block;
    margin: auto;
    padding: 10px 20px;
    margin-bottom: 20px;
    width: 50%;
    
}
.steps{
    padding-top: 50px;
}
.form-wrapper .section{
    padding: 50px 20px 30px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    /*opacity: 0; */
   /* -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -ms-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; */
    text-align: center;
    display: none;
    width: 100%;
    min-height: 300px
  }
.form-wrapper input[type="radio"]{
    display: none;
  }
  .form-wrapper .button, .form-wrapper .submit{
    background-color: #3498db;
    display: inline-block;
    padding: 8px 30px;
    color: #fff;
    cursor: pointer;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif !important;
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
.form-wrapper input[type="radio"] + label{
    display: block;
    border: 1px solid #ccc;
    width: 100%; 
    max-width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
  }
  .form-wrapper input[type="radio"] + label h4{
    color: #ccc;
  }
  .form-wrapper input[type="radio"]:checked + label{
    border: 1px solid #3498db;
  }
  .form-wrapper input[type="radio"]:checked + label h4{
    color: #3498db;
  }
#login-button{
    background-color: #1E0D7A;
    display: inline-block;
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    position: relative;
}
#login-button span{
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    color: #fff;
    z-index: 1;
}

#login-button a{

    color: #fff;

}

/* --------- Tooltip Styles ---------- */
.fa-info-circel{
    color: transparent;
}

.tooltip-container{
    position: absolute;   
    right: 20px;
    top: 20px;

    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    background-color: #c3cfe2;
    color: #ffffff;
    font-weight: 600;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    text-align: center;
}
.tooltip span{
    position: relative;
    background: rgba(0,0,0,0.3);
    padding: 5px 12px;
    border-radius: 100%;
    font-size: 20px;
    cursor: pointer;
}
/*
.tooltip::before, .tooltip::after{
    position: absolute;
    left: 50%;
    opacity: 0;
    transition: all ease 0.3s;
}

.tooltip::before{
    content: "";
    border-width: 10px 8px 0 8px;
    border-style: solid;
    border-color: #BECADE transparent transparent transparent;
    top: -20px;
    margin-left: -6px;

}

.tooltip::after{
    content: attr(data-tooltip);
    background: #BECADE;
    top: -20px;
    border-radius: 2px;
    transform: translateY(-100%);
    font-size: 14px;
    margin-left: -300px;
    max-width: 370px;
    text-align: left;
    color: #fff;
    padding: 14px;
    line-height: 1.4;
}
*/
/* Hover states */
.tooltip:hover::before, .tooltip:hover::after{
    opacity: 1;
}

@media screen and (max-width: 770px) {
    .wrapper{
        overflow: hidden;
        position: relative;
        display: block;
    }
    .burger-nav{
        display: block;
        position: absolute;
        top: 10px;
        right: 5px;
    }
    #selling-text blockquote{
        font-size: 60px;
        font-weight: 700;
        line-height: 1.2;
    }

    #navbar li{
        display: block;
        width: 100%;
        margin: 0;
        text-align: center;
    }
    header nav ul{
        overflow: hidden;
        /* height: 0; */
        display: none;
    }
    header nav ul.open{
        height: auto;
        display: block;
    }
    #navbar ul li a{
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0;
    }
    #selling-text blockquote{
        text-align: left;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 175px;
        padding-bottom: 100px;
    }
    #features li p{
        /*position: relative; 
        margin: 0;
        padding: 0;
        color: #fff;
        line-height: 1.4;
        font-size: 16px; */
        
    }
    #showcase h1{
        font-size: 9rem;
        margin: 0;
        margin-left: -10px;
        padding: 150px 0 20px 0;
     }
   
     #showcase #info-text p{
        background-color: #fff;
        padding: 20px;
        
        color: #3b4348;
       /* position: static; */
        bottom: -90px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 70%; /* Need a specific value to work */

        border-radius: 6px; 
    }
    #login-button{
        background-color: #fff;
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 8px 30px;
        cursor: pointer;
        border: none;
        position: relative;
    }
    #login-button span{
        position:absolute; 
        width:100%;
        height:100%;
        top:0;
        left: 0;
        color: #fff;
        z-index: 1;
    }
    
    
    #login-button a{
    
        color: red;
    
    }
    

}
@media screen and (max-width: 600px) {
    #selling-text blockquote{
        font-size: 50px;
    }
       
    #showcase #info-text p{
        background-color: #fff;
        padding: 20px;
        
        color: #3b4348;
       /* position: static; */
        bottom: -140px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 70%; /* Need a specific value to work */

        border-radius: 6px; 
    }
}