:root{
    font-size: 10px;
}
ul{

    padding: 0; 
}
body{
    font-size: 1.6em;
    line-height: 1.6;
    font-family: "Josefin Sans", "Roboto", sans-serif;

    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    position: relative;
    overflow-x: hidden;
}

.wrapper{
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    outline: 1px solid salmon;
}
#logo{
    font-size: 14px;
}
svg.svg-inline--fa.fa-ambulance.fa-w-20{
    font-size: 25px;
    margin-right: 5px;
}

#navbar{
    text-transform: uppercase;
    
}
#navbar li{
    display: inline;
    padding-right: 20px;
    list-style-type: none;
}
#navbar a{
    text-decoration: none;
    color: #fff;
}

#navbar a li.current, #navbar a:hover{
    color: salmon;
    border-bottom: 1px solid salmon;
}
#main-header{
    text-decoration: none;
    position: absolute;
    width: 100%;
    z-index: 100;
    outline: 1px solid salmon;

}

/* SHOWCASE*/
#showcase{
    background: url('../img/hero.jpeg') no-repeat center center;
    background-size: cover;
    color: #fff;
    background-color: #1E0D7A; 
    background-blend-mode: hard-light;
    height: 100vh;

/*
    background: url("../img/hero.jpeg");
    background-color: #1E0D7A; 
    background-blend-mode: hard-light;

    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-position: center;
    margin-bottom: 50px;
    position: relative;
    */



}

#showcase .row{
    padding-top: 4.9em;
    font-size: 3.92857rem;
    font-weight: 700;

}




/*
header{
    padding-top: 10px;
    text-decoration: none;
    position: absolute;
    width: 100%;
    padding: 20px;
    z-index: 100;
    display: block;
*/
}
/*
header h1{
    float: left;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
header nav{
    float: right;
    color: #fff;
}
header:after{
    display: block;
    content: "";
    clear: both;
}
header a{
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
header li{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
*/

/*
#section-a{
    background: url("../img/hero.jpeg");
    background-color: #1E0D7A; 
    background-blend-mode: hard-light;

    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-position: center;
    margin-bottom: 50px;
    position: relative;

}
#banner-text {
    padding-top: 4.9em;
    font-size: 3.92857rem;
    font-weight: 700;
    color: #fff;
    outline: 1px solid salmon;
    
}

#banner-text h2{
    font-size: 12rem;
    margin: 0;
    margin-left: -7px;
    padding: 0;
}

#banner-text p{
    margin-top: -60px;
    margin-left: 0;
    margin-right: 0;
}
#options{
    color: #333;
}

#info-text{
    position: absolute;
    right: 3em;
    bottom: 40px;
    width: 200px;
    line-height: 22px;
}
.fa-angle-down{
    color: #fff;
}

#section-b{
    margin: 100px 0 auto;
    text-align: center;
}
#section-b blockquote{
    color: #1E0D7A;

    display: inline-block;
    text-align: left;
    font-size: 77px;
    font-weight: 700;
    line-height: 1.2;
}
#section-b span{

}
#section-b span{

}
blockquote #text2{
    color:#C0C1CF;
}

#section-c {
    margin-top: 100px;

}
#section-c p{
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}
#section-c h2{
    margin: 0;
    padding: 0;

}
#section-c ul{
    list-style-type: none;
    color: #1E0D7A;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
#section-c li{
  text-align: center;
  padding: 50px 50px 20px;
  background-color: #E8E9ED;
  border-right: 5px solid #fff;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
}
#section > *{
    flex: 1;
    flex-basis: 100%;
}
#section-c li:last-child{
    border-right: none;
}
#section-c li svg{
    margin-bottom: 5px;
    width: 100%;
    font-size: 40px;
}
#section-c .fa-arrow-right{
    font-size: 16px;
}
*/
/*
footer{
    color: #fff;
    margin-top: 75px;
    background-color: salmon; /* #1E0D7A; 
    padding: 50px 50px 0px;
    margin-left: -7px;
   */
}
/*
footer ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

footer li{
    list-style: none;
    padding: 50px 0 0 50px;

}

footer li p{
    margin: 0;
    line-height: 2;
    font-weight: 300;
}

footer #copyright{
    margin-top: 200px;
    font-size: 12px;
    text-align: center;
    opacity: 0.7;
}




 */









@media only screen and (min-width: 400px) {
    body{
        background-color: #F2F5F9; /*#E6ECF2;*/
    }
    header{
        background-color: #E6ECF2;
    }
}
